/* ##################################################################################################
	PRESTASHOP CSS
################################################################################################## */

@import url("grid_prestashop.css");

/* ****************************************************************************
		reset
**************************************************************************** */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins{text-decoration:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{font-size:100%}
a {cursor:pointer}

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.clearfix:after {clear: both}
.clearfix {zoom: 1}


/* ************************************************************************************************
		struture
************************************************************************************************ */
#page {}
	#header {z-index:10}
	#columns {z-index:1}
		#left_column {}
		#center_column {}
		#right_column {}
	#footer {}


/* ************************************************************************************************
		generic style
************************************************************************************************ */
body{
	font:normal 11px/14px Arial, Verdana, sans-serif;
	color:#222;
	background:#fff
}

/* positionnement ****************************************************************************** */
.hidden {display:none}
.f_right {float:right}
p.center {text-align:center}
.clearBoth {clear:both}

/* title *************************************************************************************** */
h1 {
	margin-bottom:20px;
	font-size:24px;
	line-height: 22px
}
h2 {
	padding-bottom:20px;
	font-size:18px
}
h3 {
	padding-bottom:20px;
	font-size:16px
}
h4 {
	padding-bottom:20px;
	font-size:14px
}

.hide-left-column #left_column {display:none}
.hide-left-column #center_column {width:757px}

/* text **************************************************************************************** */
p {padding-bottom:20px}

.warning {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #d1cd9c;
	font-size:13px;
	background:#ffffd2;
}
.success {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #4CCC5F;
	font-size:13px;
	background: #BDF7A7;
}
.error {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #990000;
	font-size:13px;
	background:#ffcccc
}
.error ol {}
.error p.lnk {
	margin-top:20px;
	padding:0;
	font-size:11px
}
.required {color:#990000}

/* link **************************************************************************************** */
a, a:active, a:visited {
	color:#333;
	text-decoration:none;
	outline: medium none
}
	a:hover {}

/*buttons ************************************************************************************** */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	cursor: pointer;
}
*:first-child+html input.button_mini, *:first-child+html input.button_small, *:first-child+html input.button, *:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled, *:first-child+html input.button_small_disabled, *:first-child+html input.button_disabled, *:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini, *:first-child+html input.exclusive_small, *:first-child+html input.exclusive, *:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled, *:first-child+html input.exclusive_small_disabled, *:first-child+html input.exclusive_disabled, *:first-child+html input.exclusive_large_disabled {
	border:none
}


/* active button */
input.button_mini:active, input.button_small:active, input.button:active, input.button_large:active,
input.exclusive_mini:active, input.exclusive_small:active, input.exclusive:active, input.exclusive_large:active,
a.button_mini:active, a.button_small:active, a.button:active, a.button_large:active,
a.exclusive_mini:active, a.exclusive_small:active, a.exclusive:active, a.exclusive_large:active {
	background-position: left -100px
}

input.button_disabled, input.exclusive_disabled, span.exclusive {
	border:1px solid #ccc;
	color:#999;
	background:url(../img/bg_bt_2.gif) repeat-x 0 0 #f4b61b;
	cursor:default;
}

/* form **************************************************************************************** */

/* table *************************************************************************************** */
table.std,
table.table_block {
	margin-bottom:20px;
	width:100%;
	border:1px solid #999;
	border-bottom:none;
	background:white;
}
table.std th,
table.table_block th {
	padding:14px 12px;
	font-size:12px;
	color:#fff;
	 font-weight:bold;
	text-transform:uppercase;
	text-shadow:0 1px 0 #000;
	background:url(../img/bg_table_th.png) repeat-x 0 0 #999
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: #f3f3f3}
table.std  td,
table.table_block  td {
	padding:12px;
	border-right:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-size:12px;
	vertical-align:top
}

/* BLOCK .block ******************************************************************************** */
.block {margin-bottom:20px}
#footer .block {margin-bottom:0}
	.block h4 {
		padding:6px 11px;
		font-size:12px;
		color:#fff;
		text-shadow:0 1px 0 #000;
		text-transform:uppercase;
		background:#383838
	}
		.block h4 a {color:#fff}
	.block ul {list-style-type:none}
		.block li.last {	border:none}
			.block li a {
				display:block;
				color:#333
			}

/* BLOCK .products_block *********************************************************************** */
.products_block {}
	.products_block li {float:left
}
	

/* BLOCK customer privacy ******************************************************************* */
.account_creation label{
	text-align:left;
	cursor:pointer;
}

/* BLOCK .footer_links (cms pages) ************************************************************* */
ul.footer_links {
	list-style-type:none;
	margin-bottom:20px;
        float:none;
        clear:both;
}
ul.footer_links li {float:left}
ul.footer_links li.f_right {float:right}
ul.footer_links li .icon {
	position:relative;
	top:6px;
	left:0
}

/* barre comparaison / tri ********************************************************************* */
.content_sortPagiBar {margin:20px 0;}
#center_column .sortPagiBar {
	padding:10px;
	font:normal 11px Arial, Verdana, sans-serif;
	color:#666;
	background:#eee;
}
	#center_column .sortPagiBar strong {color:#000;}
#center_column .sortPagiBar p {padding:0;}
#center_column .sortPagiBar form {display:inline-block;}

.sortPagiBar #productsSortForm {float:right;}
	.sortPagiBar select#selectPrductSort {
		margin:0 0 0 10px;
		color:#000;
		border:1px solid #ccc
	}

.sortPagiBar #bt_compare {
	padding:3px 7px;
	border:none;
	color:#fff;
	text-shadow:0 1px 0 #000;
	background:url(../img/bg_bt_compare.gif) repeat-x 0 0 #111;
}

.sortPagiBar .nbrItemPage {margin-left:40px;}

.sortPagiBar .PrductSort {float:left;}

.sortPagiBar .nbrProduct {
	display:inline-block;
	padding:0 10px;
}

.sortPagiBar #nb_item {border:1px solid #ccc}

/* pagination ********************************************************************************** */
form.pagination {display:none;}

div.pagination {
	margin:10px 0;
	text-align: center
}
ul.pagination {list-style-type:none}
ul.pagination li {display: inline;}
ul.pagination a, ul.pagination span {
	display:inline-block;
	height:24px;
	width:24px;
	border:1px solid #eee;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font:11px/24px Arial,Verdana,sans-serif;
	color:#999
}
ul.pagination a {
	text-align:center;
}
ul.pagination a:hover {
	color:#333;
	border:1px solid #333
}
ul.pagination .current span {
	color:#000;
	border:1px solid #fff
}
ul.pagination li.disabled span {color:#ccc}

#pagination_previous {float:left}
#pagination_next {float:right}
#pagination_previous a, #pagination_previous span,
#pagination_next a, #pagination_next span {
	padding:0 8px;
	width:auto;
}
#pagination_previous span,
#pagination_next span {
	color:#ccc;
}

/* CART steps *********************************************************************** */
ul#order_step { background-color: white;}
ul.step {
	list-style-type:none;
	margin-bottom:30px;
}
ul.step li {
	float:left;
	text-align:center;
	
}
ul.step li a, ul.step li.step_current span, ul.step li.step_current_end span {
	display:inline-block;
	padding:8px 10px 12px;
	color:#000;
	
}
ul.step li.step_current {
	font-weight:bold;
	
}

ul.step li.step_current_end {
	font-weight:bold;
	
}
ul.step li.step_todo span {
	display:inline-block;
	padding:8px 10px 6px;
	color:#999;
}
ul.step li.step_done {
	font-weight:bold;
	
}
/*ul.step li#step_end {background:url(../img/step_end.gif) no-repeat center bottom transparent}*/

/* module productcomments ********************************************************************** */
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden
}
.cancel, .star {
	overflow: hidden;
	float: left;
	margin:0 1px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	cursor: pointer
}
.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important }
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a, div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.pack_price {
	float: right;
	margin-right: 3px;
	font-size: 12px
}
.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 #ffffe0;
}
#page .rte { background: transparent none repeat scroll 0 0 }

.listcomment {
	list-style-type:none;
	margin:0 0 20px 0 !important;
}
.listcomment li {
	padding:10px 0;
	border-bottom:1px dotted #ccc;
	color:#666
}
.listcomment .titlecomment {
	display:block;
	font-weight:bold;
	font-size:12px;
	color:#333
}
.listcomment .txtcomment {
	display:block;
	padding:5px 0;
	color:#333
}
.listcomment .authorcomment {}


/* ************************************************************************************************
		HEADER
************************************************************************************************ */
#header {position:relative}
#header_logo {
	float:left;
	display:block;
	margin-top:30px;
}

#header_right {
	position:relative;
	float: right
}


/* ************************************************************************************************
		BREADCRUMB
************************************************************************************************ */
.breadcrumb {
	margin-bottom:20px;
	font-size:12px
}
.breadcrumb a{
	font-size:12px
}
.breadcrumb .navigation-pipe {margin:0 3px 0 5px}
.breadcrumb img {
	position:relative;
	top:5px
}


/* ************************************************************************************************
		FOOTER
************************************************************************************************ */
#footer {
	color:#fff;
	background:#333
}
	.blockcategories_footer,
	#footer .myaccount ,
	#block_various_links_footer,
	#social_block,
	#block_contact_infos {
		float:left;
		width:175px
	}
	.blockcategories_footer {margin-left:0}
#footer h4 {
	padding-bottom: 10px;
	text-transform:uppercase
}
#footer h4,
#footer h4 a {
	font-weight:normal;
	font-size:14px;
	color:#fff
}
#footer a {color:#fff}
#footer a:hover {text-decoration:underline}
#footer ul {list-style-type:none}
#footer li {padding:7px 0}
#footer li a {color:#fff}

#footer .myaccount {padding: 15px 10px}
#footer .myaccount h4 {
	padding:0 0 10px 0;
	text-shadow:none
}
#footer .myaccount .favoriteproducts img,
#footer .myaccount .lnk_wishlist img {display:none}

/* ************************************************************************************************
		PRODUCT PAGE
************************************************************************************************ */

/* BLOCK idTabs ******************************************************************************** */
.idTabs {
	list-style-type: none;
	margin-top: 20px;
	padding:0 5px;
	border-bottom: 8px solid #f7b900
}
ul.idTabs li {
	float: left;
	margin-right: 1px
}
.idTabs a {
	display:block;
	padding:10px 10px 7px 10px;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	background:#000
}
.idTabs .selected {
	color:#000;
	background: url(../img/bg_li_idTabs.png) repeat-x 0 0
}

#more_info_sheets {padding-top:10px}
#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl {margin-left:20px}
#more_info_sheets em {font-style:italic}

#more_info_sheets .product_desc{
	margin-top:5px
}

#more_info_sheets .product_desc .product_image{
	float:left
}

#more_info_sheets .product_desc .block_description{
	float:left;
	margin-left:10px;
	width:420px
}
#more_info_sheets .product_desc .clear_product_desc{
	clear:both;
	height:0px;
	line-height:0px
}

/* Make sure lists are correctly displayed in tinyMCE BO edition mode too */
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {margin-left:20px}

.block_hidden_only_for_screen {display:none}


/* ************************************************************************************************
		PAGE AUTHENTIFICATION
************************************************************************************************ */
#authentication #left_column {display:none}
#authentication #center_column{width:757px}


/* ************************************************************************************************
		PAIMENT - PAGE ORDER
************************************************************************************************ */

/* nav bottom ********************************************************************************** */
#order #left_column , #order-confirmation #left_column {display:none}
#order #center_column, #order-confirmation #center_column{width:757px}

.cart_navigation {margin:40px 0 0 0}



/* step 1 - cart ******************************************************************************* */
.cart_last_product {display:none}

/*p.cart_navigation .multishipping-button { margin-right: 10px }*/

#order-detail-content {margin-bottom:20px}

table#cart_summary  th.cart_product {text-align:center}
table#cart_summary  td {
	padding:12px;
	border-right:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-weight:bold;
	font-size:12px;
	vertical-align:top;
        text-align:center;
}
table#cart_summary  td.cart_delete,
table#cart_summary  td.price_discount_del {text-align: center}


table#cart_summary tr.cart_item.even {
	background-color: #f3f3f3
}

table#cart_summary tr.customization.odd {
	
}
table#cart_summary tr.customization.even {
	background-color: #f3f3f3
}

table#cart_summary tr ul {
	list-style: none;
}
table#cart_summary  .cart_product  img {border:1px solid #ccc}
table#cart_summary .customization .cart_quantity {padding: 8px 12px 0;}
.cart_quantity .cart_quantity_input {
	float:left;
	margin-left: 5px;
	border:1px solid #fff
}
.cart_quantity .cart_quantity_button {
	float:left;
	position: relative;
}
table#cart_summary .cart_total {text-align: center}
table#cart_summary td.cart_total {text-align: right}
table#cart_summary .cart_delete {
	
	text-align:center
}
table#cart_summary .cart_discount_price {text-align: right}
.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
	display:inline-block;
	font-size:8px;
	color:#666;
	text-transform:uppercase;
	text-shadow:0 1px 0 #fff;
	background:#ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.cart_total_price .total_price_container {
	border-right:none;
}

table#cart_summary .cart_total_price td.cart_voucher {
	border-bottom:1px solid #999;
	vertical-align:middle
}

table#cart_summary #total_price_container {
	border-bottom:1px solid #999;
}

.cart_voucher h4,
.cart_voucher p {float:left;}
.cart_voucher h4 {
	margin-right:12px;
	padding:5px 0;
	font-size:13px
}
.cart_voucher p {padding-bottom:0;}
.cart_voucher #display_cart_vouchers {
	clear:both;
	line-height: 16px;
	color:#666;
	font-weight:normal;
	border-top:1px dotted #ccc
}
.cart_voucher #display_cart_vouchers .title_offers {margin-top:10px}
.cart_voucher #display_cart_vouchers span {font-weight:bold}
.cart_voucher input.discount_name {
	padding:0 5px;
	height:22px;
	width:170px;/* 180 */
	border:1px solid #ccc;
	font-weight:normal;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff
}
.cart_voucher .submit input.button {
	margin-left:2px;
	padding:2px;
	height:24px;
	border:1px solid #000;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 -1px 0 #333;
	background:url(../img/bg_cart_voucher_submit.png) repeat-x 0 0 #000
}

#cart_summary .price {
	border-right:none;
	text-align: right;
	white-space: nowrap;
}
.total_price_container p {text-align: left}

table#cart_summary .cart_total_price .total_price_container {
	padding:0;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}
.cart_total_price .total_price_container p {
	display:block;
	padding:8px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	background:#333
}
.cart_total_price .total_price_container span {
	display:block;
	padding:15px;
	font-weight:bold;
	font-size:18px;
	text-align:center
}

#order_carrier {
	clear:both;
	margin-top:20px;
	border:1px solid #999;
	background:#fff
}
#order_carrier h4 {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#order_carrier span {
	display:block;
	padding:15px;
	font-weight:bold
}

.order_delivery .first_item {margin-right:35px;}

.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088CC;
	line-height: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

/* step 2 - authentification ******************************************************************* */
#authentication #create-account_form fieldset,
#authentication #login_form fieldset {
	height: 200px
}

#create-account_form h4 {
    margin-bottom:10px;
}

#create-account_form #email_create,
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:220px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff
}

#create-account_form #SubmitCreate,
#login_form #SubmitLogin {
	float:right
}

.lost_password {
    margin-top:25px;
}
.lost_password a {color:#666}

#order-opc .lost_password {
	display:block;
	float:none;
	margin:5px 0 10px;
	width:auto;
	font-size:11px;
	color:#666
}

#ordermsg p {padding-bottom:0}
#ordermsg p.txt {
	float:left;
	margin-right:25px;
	width:220px
}
/*#ordermsg .textarea {float:right}*/
#ordermsg .textarea textarea {
	height:90px;
	width:475px;
	border:1px solid #ccc
}

/* step 3 - address ************************************************************************** */


#multishipping_mode_checkbox {
	vertical-align: middle;
	margin-right: 5px;
}
#multishipping_mode_box .description_off {
	display: none;
	padding:7px 0 30px 0;
}
#multishipping_mode_box .description_off div {
	margin-bottom: 10px;
}

#multishipping_mode_box.on .description_off {
	display: block;
}


/* step 4 - paiement ************************************************************************** */

.delivery_options {
	border-top: 0;
}

#order .delivery_options_address h3, #order-opc .delivery_options_address h3 {
/*background: url("../img/table_header.gif") no-repeat;
color: #374853;
font-weight: bold;
height: 14px;
padding: 5px 10px;
margin: 10px 0 0 0;*/
	padding: 6px 11px;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	background: none repeat scroll 0 0 #383838;
}
#order .delivery_option_radio, #order-opc .delivery_option_radio {
	float: left;
	margin: 21px 12px;
}
#order .delivery_option label, #order-opc .delivery_option label {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {	
	width: 100%;
}
#order .delivery_option.item, #order-opc .delivery_option.item {

}
#order .delivery_option.alternate_item, #order-opc .delivery_option.alternate_item {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
#order .delivery_option label > table.resume td, #order-opc .delivery_option label > table.resume td {
	padding: 10px;
        width:1%;
}
#order .delivery_option label > table.resume td + td, #order-opc .delivery_option label > table.resume td + td {
        vertical-align:middle;
        width:5%;
}
#order .delivery_option label > table.resume td + td + td, #order-opc .delivery_option label > table.resume td + td + td {
	vertical-align: middle;
        width:80%;
}
#order .delivery_option_carrier td {width:200px}
#order .delivery_option_carrier td + td {width:280px;}
#order .delivery_option_carrier td + td + td {width:200px}
#order .delivery_options_address .delivery_option_logo, #order .delivery_option_carrier .delivery_option_logo, #order-opc .delivery_options_address .delivery_option_logo {
	padding-left:10px;
        vertical-align:middle;
        min-width:64px;
}
#order .delivery_options_address .delivery_option_logo img, #order-opc .delivery_options_address .delivery_option_logo img { /*height: 40px;*/ }
#order .delivery_option_carrier .first_item, #order-opc .delivery_option_carrier .first_item {
	padding: 3px 5px 3px 12px;
	background:url('../img/arrow_right_2.png') no-repeat 3px 7px
}

.order_carrier_content {
	border:1px solid #ccc;
        margin-bottom:20px;
	font-size:12px;
	color:#000;
	background:#f8f8f8
}

.order_carrier_content input {
	position:relative;
	top:1px
}

#carrierTable {
	border:1px solid #999;
	border-bottom:none;
	background:#fff
}

#carrierTable tbody{
	border-bottom:1px solid #999;
}
#carrierTable  th {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	text-transform:uppercase;
	background:url('../img/bg_table_th.png') repeat-x 0 -10px #999;
}
#carrierTable  td {
	padding:15px;
	font-weight:bold;
	border-right:1px solid #e9e9e9
}
#carrierTable  td.carrier_price {border:none}

#gift_div {
	display:none;
	padding-bottom:10px
}
#gift_div label {
	display:block;
	margin-bottom:5px
}
#gift_div #gift_message {
	height:50px;
	width:720px;
	border:1px solid #999
}

a.iframe {font-weight:bold}

.hook_extracarrier {
}

/* step 5 - paiement ************************************************************************** */

.payment_module {
	position:relative;
}
.payment_module a {display:block;}
.payment_module img {	
	margin-right:10px
}
/*.payment_module span {
	position:absolute;
	top:50px;
	left:145px
}*/

.payment_module:before,
.payment_module:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.payment_module:after {clear: both}
.payment_module {zoom: 1}


/* ************************************************************************************************
		PAGE ORDER-OPC
************************************************************************************************ */
#order-opc #left_column {display:none}
#order-opc #center_column{width:757px}


#order-opc h2 {}
#order-opc h2 span {
	display:inline-block;
	padding:5px 7px;
	color:#fff;
	background:#333;
}

#order-opc #login_form fieldset {
	background: none repeat scroll 0 0 #FFFFE0;
	border: 1px solid #E6DB55;
	font-size: 13px;
	margin: 0 0 10px;
}
#order-opc #login_form fieldset p {padding:0}
#order-opc #login_form fieldset p a {padding:0}

#order-opc #new_account_form p.opc-required {
    margin:0 0 0 20px;
}

#order-opc .addresses {margin-bottom:20px}

#order-opc #opc_delivery_methods textarea {
	border:1px solid #ccc
}

#order-opc #opc_payment_methods {margin-bottom:20px}
#order-opc #opc_payment_methods #opc_payment_methods-content p{margin:0}

.delivery_option_carrier td {width:200px}
.delivery_option_carrier td + td {width:280px;}
.delivery_option_carrier td + td + td {width:200px}
.delivery_option_carrier {
	display: none;
}
 .delivery_option_carrier tr td {
	padding: 5px;
}
.delivery_option_carrier.selected {
	display: table;
}
.delivery_option_carrier.not-displayable {
	display: none;
}
.delivery_option_title {
	font-weight: bold;
}


/* ************************************************************************************************
	express checkout
************************************************************************************************ */
#new_account_form {clear:both;}

#center_column #new_account_form p {
	margin:0;
	padding:0 0 10px 0
}
#new_account_form p.required {color:#222}
#new_account_form p.required sup {color:#990000}
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display: inline-block;
	padding: 6px 15px;
	width: 150px;
	text-align: right
}
#new_account_form p.radio label {
	float:none;
	padding-right:10px;
	width:auto;
	font-size:14px;
}
#new_account_form p.checkbox label {
	float: none;
	width: auto;
	font-size: 12px;
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select select {
	width:360px;
}

#new_account_form p.checkbox input {margin-left: 260px;}

#new_account_form #submitGuestAccount {float: right}

/* ************************************************************************************************ */

/* ************************************************************************************************
		paiment - CONFIRMATION
************************************************************************************************ */
#orderconfirmation #left_column {display:none}
#orderconfirmation #center_column{width:757px}


/* ************************************************************************************************
		PAGE PASSWORD
************************************************************************************************ */
#form_forgotpassword fieldset {
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #eee
}
#form_forgotpassword  p.text label {
	display: block;
	color:#666666;
        margin:25px 0 5px 0;
}

#form_forgotpassword p.submit {
	padding:30px 0 20px 0;
}

#password .icon {
	position:relative;
	top:6px;
}


/* ************************************************************************************************
		PAGE ADRESSES
************************************************************************************************ */
#addresses #left_column {display:none}
#addresses #center_column{width:757px}

#address p.inline-infos {
	font-size:12px;
	color:#666;
}


/* ************************************************************************************************
		PAGE ADD ADRESS
************************************************************************************************ */
#address #left_column {display:none}
#address #center_column{width:757px}

form#add_adress {}
#add_adress fieldset {
	margin:0;
	border:1px solid #ccc;
	background:#F8F8F8
}
#center_column #add_adress p {margin:0; padding:0 0 10px 0}
#add_adress p.required {color:#222}
#add_adress p.required  sup {color:#990000}

#add_adress p.text input,
#add_adress p.password input,
#add_adress p.select input {
	padding:0 5px;
	height:22px;
	width:360px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_adress p.checkbox input {
	margin-left:260px;
}
#add_adress p.select select {
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_adress p.textarea label {vertical-align:top}
#add_adress p.textarea textarea {
	height:80px;
	width:370px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#center_column  #add_adress p.submit2 {
	margin-top:20px;
	text-align:right
}

#add_adress span.form_info,
#add_adress span.inline-infos {
	display:block;
	color:#666;
        margin:0 auto;
}


/* ************************************************************************************************
		PAGE ORDER-SPLIP
************************************************************************************************ */
#order-slip #left_column {display:none}
#order-slip #center_column{width:757px}
#order-slip #order-list td {
	border-top: 1px solid #ccc;
	border-bottom:none
}
#order-slip #order-list td.history_invoice {border-right:none}


/* ************************************************************************************************
		PAGE DISCOUNT
************************************************************************************************ */
#discount #left_column {display:none}
#discount #center_column{width:757px}

#discount .table_block tr.last_item td {border-bottom:1px solid #999}
#discount .table_block td.discount_expiration_date {border-right:1px solid #999}
#discount .table_block td.discount_value {white-space:nowrap}


/* ************************************************************************************************
		PAGE ORDER FOLLOW
************************************************************************************************ */
#order-follow #left_column {display:none}
#order-follow #center_column{width:757px}


/* ************************************************************************************************
		PAGE NEW-PRODUCTS
************************************************************************************************ */
#newproducts .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE BEST SALES
************************************************************************************************ */
#bestsales .sortPagiBar {margin-bottom:20px}

/* ************************************************************************************************
		PAGE PRICES DROP SALES
************************************************************************************************ */
#pricesdrop .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE MANUFACTURER
************************************************************************************************ */
#manufacturer .nbrmanufacturer {
	margin: 20px 0;
	font-size:12px;
	color: #666666;
}

#manufacturer #product_list {margin-top:15px}

ul#manufacturers_list {list-style-type:none}
ul#manufacturers_list li {
    text-align: center;
    width:194px;
    margin:0 15px;
    padding:8px;
    background:#ffffff;
    
    
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
    box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
}

ul#manufacturers_list li .logo{
    overflow: hidden;
}

ul#manufacturers_list li a.lnk_img {
	display: block;
}
ul#manufacturers_list li img {
	vertical-align: bottom;
}
ul#manufacturers_list li h3 {
	padding: 0 0 10px;
	font-size: 13px;
	color: #000
}
ul#manufacturers_list li .description {
	overflow: hidden;
	padding: 0;
	color:#666
}

ul#manufacturers_list li .description a{
	font-size:12px;
	color:#666
}

ul#manufacturers_list li .right_side {
    clear:both;
    margin:20px 0 10px 0;
}

.description_box {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 1px #E2E2E2;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 18px;
}
.description_box p {
	margin: 0;
	padding: 0 10px 5px;
}
.description_box .hide_desc {
	display: none;
}
.description_box .lnk_more {
	background: url("../img/arrow_right_1.png") no-repeat scroll 100% 4px transparent;
	color: #0088CC;
	padding: 0 10px;
}
.description_box ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

/* ************************************************************************************************
		PAGE SUPPLIER
************************************************************************************************ */
#supplier .nbrmanufacturer {
	margin: 20px 0;
	font-size:12px;
	color: #666666;
}
ul#suppliers_list {list-style-type:none}
ul#suppliers_list li {
   text-align: center;
    width:194px;
    margin:0 15px;
    padding:8px;
    background:#ffffff;
    
    
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
    box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
}

ul#suppliers_list li .logo{
    overflow: hidden;
}

ul#suppliers_list li a.lnk_img {
	display: block;
}
ul#suppliers_list li img {
	vertical-align: bottom
}

ul#suppliers_list li h3 {
	padding: 0 0 10px;
	font-size: 13px;
	color: #000
}

ul#suppliers_list li .description {
	overflow: hidden;
	padding: 0;
	color:#666
}

ul#suppliers_list li .description a{
	font-size:12px;
	color:#666
}

ul#suppliers_list li .right_side {
    clear:both;
    margin:20px 0 10px 0;
}


/* ************************************************************************************************
		PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #e6db55;
	font-size:13px;
	background:#ffffe0
}
#search .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE 404
************************************************************************************************ */
#pagenotfound #left_column,
#pagenotfound #right_column{display:none}

#pagenotfound #center_column {width:940px;}

#pagenotfound .pagenotfound {
    
}
#pagenotfound h3 {
	font-weight:normal;
	font-size:14px
}
#pagenotfound fieldset {border:none}
#pagenotfound fieldset label {color:#333}

#pagenotfound .pagenotfound a {
}
#pagenotfound .pagenotfound .icon {
	position:relative;
	top:3px
}


/* ************************************************************************************************
		addons payment cheque
************************************************************************************************ */
#module-cheque-payment #left_column {display:none}
#module-cheque-payment #center_column{width:757px}


/* ************************************************************************************************
		addons payment bankwire
************************************************************************************************ */
#module-bankwire-payment #left_column {display:none}
#module-bankwire-payment #center_column{width:757px}


/* ************************************************************************************************
		addons google checkout
************************************************************************************************ */
#module-gcheckout-payment #left_column {display:none}
#module-gcheckout-payment #center_column{width:757px}

/* ************************************************************************************************
		addons paypal
************************************************************************************************ */
#module-payment-submit #left_column {display:none}
#module-payment-submit #center_column{width:757px}


/* ************************************************************************************************
		addons cashondelivery validation
************************************************************************************************ */
#module-cashondelivery-validation #left_column {display:none}
#module-cashondelivery-validation #center_column{width:757px}


/* ************************************************************************************************
		addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {padding:10px !important}
#account-creation_form fieldset.reversoform  .text label{
	display:block;
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
}
#account-creation_form fieldset.reversoform .infos-sup {
	padding:0 !important;
	font-size:10px;
	font-style:italic;
	text-align:right
}
/* ************************************************************************************************
		addon customer privacy
************************************************************************************************ */
#account-creation_form fieldset.customerprivacy label{
	padding-bottom:0;
	text-align:left;
	cursor:pointer
}

/* ************************************************************************************************
		addon referralprogram
************************************************************************************************ */
#module-referralprogram-referralprogram-program #left_column {display:none}
#module-referralprogram-referralprogram-program #center_column{width:757px}

#footer .myaccount li.referralprogram img {display:none}

#module-referralprogram-referralprogram-program .sheets {padding-top:10px}

#module-referralprogram-referralprogram-program form p.checkbox {font-weight:bold}
#module-referralprogram-referralprogram-program form p.checkbox a {text-decoration:underline}
#module-referralprogram-referralprogram-program form p.submit {text-align:right}
#module-referralprogram-referralprogram-program form p.see_email {
	padding-left:10px;
	color: #0088cc;
	background:url(../img/arrow_right_1.png) no-repeat 0 4px;
}
#module-referralprogram-referralprogram-program form p.see_email a {
	color: #0088cc;
	text-decoration:underline
}

/* ************************************************************************************************
		addon loyalty
************************************************************************************************ */
#module-loyalty-default #left_column {display:none}
#module-loyalty-default #center_column{width:757px}

#footer .myaccount li.loyalty img {display:none}


/* ************************************************************************************************
		addon Livezilla
************************************************************************************************ */
#livezilla_lnk  {
	margin:10px 0;
	text-align: right
}
#livezilla_lnk a {
	display:inline-block;
	padding:6px 8px 8px 8px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font:bold 10px Arial,Verdana,sans-serif;
	color:#fff;
	text-shadow: 0 -1px 0 #000;
	background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 #000
}
#livezilla_lnk a:hover {text-decoration:none}

/* ************************************************************************************************
		addons comments products
************************************************************************************************ */
form#sendComment  fieldset{
	padding:10px;
	border:1px solid #ccc;
	background:#eee
}
form#sendComment h3 {font-size:14px;}
#new_comment_form p.text {
	 margin-bottom: 0;
	 padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}
#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #ccc;
	background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
	height:80px;
	width:508px;
	border:1px solid #ccc;
}
#sendComment p.submit {
	padding:0;
	text-align:right
}

#sendComment p.closeform {
	float:right;
	padding:0;
	height:12px;
	width:12px;
	text-indent:-5000px;
	background:url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
	position: relative;
	top:2px;
	float: left;
	height: 12px;
	width: 12px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer
}
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
div.star_on a { background-position: 0 -12px }
div.star_hover a, div.star a:hover { background-position: 0 -12px }


/* ************************************************************************************************
		xxxxx
************************************************************************************************ */


/* ************************************************************************************************
		guest tracking
************************************************************************************************ */

#guest-tracking fieldset p:first-child {
	padding-top: 10px;
}
#guest-tracking fieldset p:last-child {
	padding-bottom: 10px;
}



/* ************************************************************************************************
		CSS Modules
************************************************************************************************ */

/******* IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.************/

/*************** Block ADVERTISING ***************/
.advertising_block { width: 191px; margin-bottom: 1em; text-align: center }



/*************** Block CATEGORIES ***************/
#categories_block_left  li {border-bottom:1px dotted #ccc}
	#categories_block_left  li.last {	border:none;}
		#categories_block_left  li a {
			display:block;
			padding:7px 11px 5px 22px;
			color:#333;
			background:url(../../../modules/blockcategories/img/arrow_right_2.png) no-repeat 10px 10px transparent
		}
		
	#categories_block_left  li ul {margin-left:40px}
		#categories_block_left  li ul li {border:none}
			#categories_block_left  li ul li a {
				padding-left:0;
				background:none
			}
		
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
	display:block;
	float:right;
	margin:10px 10px 0;
	height:9px;
	width:9px;
	background:url(../../../modules/blockcategories/img/icon/open-close.png) no-repeat 0 -9px;
	cursor:pointer
}
#categories_block_left li .CLOSE {background-position:0 0}


/* footer */
.blockcategories_footer {
	padding:15px 10px;
}
.blockcategories_footer ul ul {display:none !important}



/*************** Block CMS ***************/
/* footer */
#footer .block_various_links {padding:15px 10px;}

/* Block CMS links */
.informations_block_left li {border-bottom:1px dotted #eee}
.informations_block_left li.last {border:none;}
.informations_block_left li a {
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blockcms/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}
    
tr.subitem > td:first-child + td {
    padding-left: 10px;
}



/*************** Block CONTACTINFOS ***************/

#block_contact_infos {padding:15px 10px;}
#block_contact_infos li {
	line-height: 20px;
}
#block_contact_infos li  strong {
	font-weight:normal;
	font-size:13px;
}
#block_contact_infos li  pre {font: 11px/20px Arial,Verdana,sans-serif;}



/*************** Block LINK ***************/
#links_block_left .block_content li {border-bottom:1px dotted #eee}
#links_block_left .block_contentt li.last {border:none;}
#links_block_left .block_content li a {
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blocklink/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}



/*************** Block MANUFACTURER ***************/
.blockmanufacturer li {border-bottom:1px dotted #ccc}
.blockmanufacturer li.last {	border:none;}
	.blockmanufacturer li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockmanufacturer/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}


.blockmanufacturer form {margin-top:10px;}
.blockmanufacturer p {
	padding:0;
	text-align:center
}

/*************** Block LOGO PAYMENT ***************/

.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em; float:left; }
.paiement_logo_block a { text-decoration: none }
.paiement_logo_block img { margin: 0 0.5em }



/*************** Block RSS ***************/
#rss_block_left p {
	margin:0;
	padding:10px;
}

#rss_block_left li {border-bottom:1px dotted #ccc}
#rss_block_left li.last {	border:none;}
	#rss_block_left li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockrss/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

	
/*************** Block SOCIAL ***************/
#social_block {padding:15px 10px;}
#social_block li {padding-left:22px !important;}
#social_block li.facebook {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 6px;}
#social_block li.twitter {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -26px;}
#social_block li.rss {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -56px;}


/*************** Block STORE ***************/
.blockstore img { margin: 10px 0 0 0}
.blockstore p { 
	padding-bottom:0;
	font-weight:bold;
	text-align: right
}
.blockstore p.store_image { 
	padding-bottom:10px;
	text-align:center
}


/*************** Block SUPPLIER ***************/
.blocksupplier li {border-bottom:1px dotted #ccc}
.blocksupplier li.last {	border:none;}
	.blocksupplier li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blocksupplier/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

.blocksupplier form {margin-top:10px;}
.blocksupplier p {
	padding:0;
	text-align:center
}
