#autumn-ads{
    margin:40px 0;
}
#autumn-ads .ad{
    display:block;
    overflow:hidden;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    margin-bottom:30px;
    
    border:8px solid #ffffff;
    
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    
    box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1) ;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1) ;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.095) , 0 1.5px 1.5px 0 rgba(0,0,0,0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1) ;
}

.autumn-ads-ad-image{
    width:100%;
    vertical-align:bottom;
}

#autumn-ads .item{
    margin:0 15px;
    width: 370px
}

@media only screen and (max-width: 1210px) {
        #autumn-ads .item{
            width:290px;
        }
}

@media only screen and (max-width: 959px) {
        #autumn-ads .item{
            width:210px;
        }
}

@media only screen and (max-width: 767px) {
    
        #autumn-ads .item{
            width:450px;
        }
}

@media only screen and (max-width: 479px){
    
    #autumn-ads .item{
            width:300px;
        }
    
}