#easyproductnav{
    display:block;
    overflow:hidden;
    padding:10px 0 20px 0;
    margin-bottom:25px;
    border-bottom:1px dotted #c0c0c0;
}

#easyproductnav .pre_text{
    font-weight: 700;
}

#easyproductnav .previous_product{
    float:left;
}

#easyproductnav .next_product{
    float:right;
}

#easyproductnav .first_product_notice,
#easyproductnav .last_product_notice{
    color:#909090;
    line-height:32px;
}

#easyproductnav .previous_product a,
#easyproductnav .next_product a{
    display:block;
    font-weight:600;
    padding:5px 10px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*
/*
/*      Smaller than 768px
/*
/*
/*--------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    
    #easyproductnav .previous_product_name,
    #easyproductnav .next_product_name,
    #easyproductnav .first_product_notice,
    #easyproductnav .last_product_notice{
        display:none;
    }
    
    #easyproductnav .previous_product a,
    #easyproductnav .next_product a{
        text-align:center;
        width:50px;
    }
}