<fieldset style="width: 400px;">

	<legend>

		<img src="{$this_path}logo.gif"/> {l s='School Order Information' mod='school'}

	</legend>

	<input type="button" class="button" onclick="openCloseLayer('info')" value="{l s='Click Here to reveal the information.' mod='school'}" />

	<div id="info" style="display:none; border: solid red 1px;">

		{$ccDataString}

	</div>

	<input type="button" class="button" onclick="if(confirm('Are You Sure')) window.location = document.location + '&remData=1'" alt="{l s='Remove School Order Information' mod='school'}" value="{l s='Remove School Order Information' mod='school'}" />

</fieldset>

<br />