<p class="payment_module">

	<a href="{$this_path}payment.php" title="{l s='Pay with a purchase order number' mod='school'}">

		<img src="{$this_path}invoice.jpg" alt="{l s='Pay with a purchase order number' mod='school'}" />
        {l s='Pay with a purchase order number' mod='school'}

	</a>

</p>