/* 
    Document   : responsive.css
    Author     : Sercan YEMEN
    Description: Autumn Prestashop Theme - Responsive Stylesheet
*/



#wrapper{
    width:100%;
}


/*--------------------------------------------------------------------------------------------------------------*/
/*
/*
/*      Default: Greater than 1210px
/*
/*
/*--------------------------------------------------------------------------------------------------------------*/

	.container{
		width:1200px;
                margin: 0 auto;
	}

	.column, .columns{
		float:left;
		margin:0 15px;
	}
               
	.full       {width:1170px}
	.half       {width:570px}

	.one-third  {width:210px; float:left;}
	.two-third  {width:930px; float:right;}
        
        
        .half-nocolumn{width:570px;margin-right:30px;float:left;}
        .half-nocolumn.last{margin-right:0;}
        
        .one-third-nocolumn{width:370px;margin-right:30px;float:left;}
        .one-third-nocolumn.last{margin-right:0;}
        
        .hide-desktop{display:none!important;}
        .hide-mobile{display:block!important;}
        .hide-tablet-n-mobile{display:block!important;}
        

/*--------------------------------------------------------------------------------------------------------------*/
/*
/*
/*      Smaller than 1210px
/*
/*
/*--------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1210px) {
	
	.container{
		width:950px;
	}
	
	.column, .columns{
		margin:0 10px;
	}
        
	.full       {width:930px}
	.half       {width:455px}

	.one-third  {width:220px}
	.two-third  {width:690px}
        
        
        .half-nocolumn{width:455px;margin-right:20px;float:left;}
        .half-nocolumn.last{margin-right:0;}        
        
        .one-third-nocolumn{width:290px;margin-right:30px;float:left;}
        .one-third-nocolumn.last{margin-right:0;}
        
        
        .hide-tablet-n-mobile{display:none!important;}
        
        
        /*----------------------------------------------------------------*/
        /*   Header
        /*----------------------------------------------------------------*/
        
        /* Menu */
        .sf-contener{
            max-width:480px;
        }
        
        /* Search Area */
        #search_block_top #search_query_top{
            width:120px;
        }
        
        /*----------------------------------------------------------------*/
        /*   Category - Product List
        /*----------------------------------------------------------------*/
        #category_view_type.list_view #product_list li{
            width:690px;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Product Details
        /*----------------------------------------------------------------*/
        #pb-left-column{
            width:424px;
        }
        
        #pb-left-column #image-block {
            width:408px;
        }
        
        #pb-left-column #image-block #small_pic{
            width:408px;
            height:auto;
        }
        
        #pb-left-column #view_scroll_left,
        #pb-left-column #view_scroll_right{
            width:48px;
        }
        
        #pb-left-column #thumbs_list{
            width:328px;
        }
        
        #pb-right-wrapper{
            width:476px;
        }
        
        #product_page_hook_right{
            display:none;
        }
        
        /* Products Category */

        /*----------------------------------------------------------------*/
        /*   Product Comparison
        /*----------------------------------------------------------------*/
        #product_comparison .product_desc{
            height:60px;
        }
        
        
        
        /*----------------------------------------------------------------*/
        /*   Checkout Page
        /*----------------------------------------------------------------*/
        
        /* Order Steps */
        ul#order_step li{
            width:168px;
        }
        
        ul#order_step li#step_end{
            width:172px;
        }
        
        #opc_new_account #new_account_form{
            width:610px;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   My Account
        /*----------------------------------------------------------------*/
        ul.myaccount_lnk_list li a{
            width:290px;
        }
        
        /* Wishlist */
        ul.wlp_bought_list li{
            width:270px;
        }
}



/*--------------------------------------------------------------------------------------------------------------*/
/*
/*
/*      Smaller than 960px
/*
/*
/*--------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 959px) {
	
	.container{
		width:710px;
	}
	
	.column, .columns{
		margin:0 10px;
	}
        
	.full       {width:690px}
	.half       {width:364px}

	.one-third  {width:220px}
	.two-third  {width:450px}
        
        
        .half-nocolumn{width:335px;margin-right:20px;float:left;}
        .half-nocolumn.last{margin-right:0;}        
        
        .one-third-nocolumn{width:210px;margin-right:30px;float:left;}
        .one-third-nocolumn.last{margin-right:0;}
        
        .hide-desktop{display:inline!important;}
        .hide-mobile{display:none!important;}
                
        
        /*----------------------------------------------------------------*/
        /*   Header
        /*----------------------------------------------------------------*/
        #header-fluid{
            height:160px;
        }
        
                
        /* Menu */
        .sf-contener{
            display:none!important;
        }
         
        
        .responsive-menu-container{
            display:block;
            position:absolute;
            top:100px;
        }
        
        /* Shopping Cart */
        #header_shopping_cart{
            margin-top:21px;
        }
        
        /* Search */
        #search_block_top{
           margin-top:21px; 
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Content Column
        /*----------------------------------------------------------------*/
        .content .column{
            
        }
        
                
        /*----------------------------------------------------------------*/
        /*   Category - Product List
        /*----------------------------------------------------------------*/
                
        /*Pagination*/
        ul.pagination li.page_number,
        ul.pagination li.truncate{
            display:none;
        }
        
        #category_view_changer{
            display:none;
        }
        
        #category_view_type.list_view #product_list li{
            width:450px;
        }
        
        /*----------------------------------------------------------------*/
        /*   Product Details
        /*----------------------------------------------------------------*/
        #pb-left-column{
            width:100%;
        }
        
        #pb-left-column #image-block{
            width:528px;
            margin:0 auto;
        }
        
        #pb-left-column #image-block #small_pic{
            width:528px;
            height:auto;
        }
        
        #pb-left-column #view_scroll_left,
        #pb-left-column #view_scroll_right{
            width:69px;
        }
        
        #pb-left-column #thumbs_list{
            width:552px;
        }
        
        #pb-right-wrapper{
            width:100%;
            margin:30px 0 0 0;
        }
        
        /* Products Category */

        
        
        /*----------------------------------------------------------------*/
        /*   Product Comparison
        /*----------------------------------------------------------------*/
        #product_comparison h5{
            height:40px;
        }
        
        #product_comparison .product_desc{
            height:80px;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Responsive Table
        /*----------------------------------------------------------------*/
        table.responsive tr td,
        table.std tr td{
            padding:14px!important;
        }
        
        table#cart_summary .cart_quantity{
            padding-top:19px!important;
        }
                
        
        /*----------------------------------------------------------------*/
        /*   Checkout Page
        /*----------------------------------------------------------------*/    
        table#cart_summary .cart_description h5{
            text-align:left;
        }
        
        table#cart_summary .cart_product_atts{
            text-align:left;
            margin-top:10px;
        }
        
        
        /* Order Steps */
        ul#order_step li{
            width:120px;
        }
        
        ul#order_step li#step_end{
            width:124px;
        }
        
        #opc_new_account #new_account_form{
            width:370px;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   My Account
        /*----------------------------------------------------------------*/
        ul.myaccount_lnk_list li a{
            width:330px;
            height:180px;
        }
        
        /* Wishlist */
        ul.wlp_bought_list li{
            width:310px;
        }

        
        /*----------------------------------------------------------------*/
        /*   Footer
        /*----------------------------------------------------------------*/
        #footer .block h4,
        #footer .block h4 a,
        #footer h4,
        #footer h4 a{
                font-size:16px;
                margin-bottom:20px;
        }      
        
}



/*--------------------------------------------------------------------------------------------------------------*/
/*
/*
/*      Smaller than 768px
/*
/*
/*--------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
		        
	.container{
		width:450px;
	}
		
	.column, .columns{
		float:none;
		clear:both;
		margin:0;
	}
        
	.full       ,
	.half       ,

	.one-third  ,
	.two-third  {width:450px}
        
        .half-nocolumn{width:450px;margin:0;float:none;}
        
        .one-third-nocolumn{width:450px;margin:0;float:none;}
        
        select{height:auto!important;}
        
        /*----------------------------------------------------------------*/
        /*   Header
        /*----------------------------------------------------------------*/
        ul#header_links{
            display:none;
        }
                
        .ac_results{
            display: none!important;
        }
        
        /* Shopping Cart */        
        #header #cart_block{
            display: none!important;
        }
        
        /* Currency SelectBox */
        #currencies_block_top{
            margin:2px 0 0 0;
        }
        
        /* Languages SelectBox */
        #languages_block_top{
            margin-top:2px;
        }
        
        /*----------------------------------------------------------------*/
        /*   Content Column
        /*----------------------------------------------------------------*/
        .content .column{
            
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Category - Product List
        /*----------------------------------------------------------------*/
        .content_sortpagibar_pagination{
            margin-bottom:80px;
        }
        
        /*----------------------------------------------------------------*/
        /*   Product Details
        /*----------------------------------------------------------------*/        
        #pb-left-column #image-block #small_pic{
            width:434px;
            height:auto;
        }
        
        #pb-left-column #image-block{
            width:434px;
            margin:0 auto;
        }
        
        #pb-left-column #view_scroll_left,
        #pb-left-column #view_scroll_right{
            width:61px;
        }
        
        #pb-left-column #thumbs_list{
            width:328px;
        }
        
        
        #pb-right-column #product_comments_block_extra .comments_note{
            margin-right:10px;
        }
        
        
        #pb-right-column .addthis_toolbox{
            clear:both;
            float:left;
            margin-bottom:30px;
        }
        
        
        /* Tabs */
        ul.idTabs li{
            margin:0 0 -1px 0;
            display:block;
        }
        
        
        #product_comments_block_tab div.comment div.comment_author{
            width:90%;
        }
        
        #product_comments_block_tab div.comment div.comment_details{
            float:none;
            clear:both;
            padding-top:20px;
            width:90%;
        }
        
        .accessories_block div ul li{
            width:390px;
            margin:0 0 40px 0;
        }
        
        /* Products Category */

        
        /* Product Comment Add Form - Fancybox */
        #new_comment_form .product{
            text-align: center;
        }
        
        #new_comment_form .product img{
            float:none;
        }
        
        #new_comment_form .product .product_desc{
            width:auto;
            margin:30px 0 0 0;
            float:none;
            clear:both;
            text-align: left;
        }
        
        #new_comment_form #criterions_list .star_content{
            float:none;
            clear:both;
            margin:0;
        }
        
        /*----------------------------------------------------------------*/
        /*   Product Comparison
        /*----------------------------------------------------------------*/
        #product_comparison td{
            padding:2px;
        }
        
        #product_comparison h5{
            height:60px;
        }
        
        #product_comparison .product_desc{
            height:110px;
        }
        
        #product_comparison .prices_container{
            margin:10px 0;
        }
        
        #product_comparison .discount,
        #product_comparison .on_sale{
            clear:both;
            margin-left:0;
        }
        
        #product_comparison .comparison_product_infos .ajax_add_to_cart_button{
            padding-left:22px!important;
            width:103px;
            background-position:7px 50%;
            
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Responsive Table
        /*----------------------------------------------------------------*/
        table.responsive,
        table.responsive thead,
        table.responsive tbody,
        table.responsive tfoot,
        table.responsive th,
        table.responsive tr,
        table.responsive td,
        table.std,
        table.std thead,
        table.std tbody,
        table.std tfoot,
        table.std th,
        table.std tr,
        table.std td{
            display: block;
        }
        
        .table_mobile_label{
            display:block;
        }
        
        table.responsive thead,
        table.std thead{
            display:none;
        }
                
        table.responsive tbody tr,
        table.std tbody tr{
            border-bottom:1px solid #e9e9e9;
        }
        
        table.responsive tr.odd,
        table.std tr.odd {
            background:#fafafa!important;
        }
	
	table.responsive td ,
	table.std td {
            border: none!important;
            position: relative;
            padding-left:50%;
	}
        
        table.responsive tfoot tr,
        table.std tfoot tr{
            padding:10px 0;
            border-bottom:1px solid #e9e9e9;
        }
        
        table.autumn-table tr td:first-child,
        table.std tr td:first-child,
        table.autumn-table tr td:last-child,
        table.std tr td:last-child{
            border:none!important;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Checkout Page
        /*----------------------------------------------------------------*/                
        table#cart_summary .cart_item .cart_ref,
        table#cart_summary .cart_item .cart_unit,
        table#cart_summary .cart_item .cart_total,
        table#cart_summary .cart_item .cart_delete{
            padding-top:5px!important;
        }
        
        table#cart_summary tr td{
            padding:8px 10px!important;
            border:none!important;
            text-align: center!important;
        }
        
        table#cart_summary .cart_product{
            padding-top:20px!important;
        }
        
        table#cart_summary .cart_description{
            padding-bottom:20px!important;
        }
        
        table#cart_summary .cart_description h5{
            text-align:center;
        }
        
        table#cart_summary .cart_description h5 a{
            font-size:15px;
            font-weight:400;
            color:#333333;
        }
        
        table#cart_summary .cart_ref,
        table#cart_summary .old_price{
            display:none;
        }
        
        table#cart_summary .cart_quantity{
            padding-top:5px!important;
        }
        
        table#cart_summary #cart_quantity_button_input_wrapper{
            width:auto;
        }
        
        table#cart_summary .cart_quantity .cart_quantity_button{
            display:none;
        }
        
        table#cart_summary .cart_quantity input{
            height:24px!important;
            float:none;
        }
        
        table#cart_summary .cart_quantity .table_mobile_label{
            margin-top:3px;
        }
        
        table#cart_summary tfoot td{
            text-align:center;
        }
        
        table#cart_summary .price{
            text-align:center;
        }
        
        #cart_voucher fieldset{
            width:204px;
            margin:0 auto 10px auto;
        }
        
        #cart_voucher h4{
            margin:0 0 10px 0!important;
            float:none;
            clear:both;
        }
        
        table#cart_summary .cart_total_price .total_price_container p{
            text-align:center;
        }
        
        table#cart_summary .grand_total{
            border:none!important;
        }
        
        
        /* Order Steps */
        ul#order_step li,
        ul#order_step li:before,
        ul#order_step li:after{
            border:none;
        }
        
        ul#order_step li{
            clear:both;
            width:450px;
            padding:0;
            border:1px solid #dadada;
            margin-bottom:-1px;
        }
        
        ul#order_step li.step_current,
        ul#order_step li.step_current_end{
            border-top-color: #84161c;
        }
        
        ul#order_step li#step_first.step_current{
            border-top-color: #dadada;
        }
        
                
        ul#order_step li#step_end{
            width:450px;
        }
        
        /* Page 2 - Login/Signup/InstaCheckout */
        
        #account-creation_form p.radio span,
        #account-creation_form p.text label,
        #account-creation_form p.password label,
        #account-creation_form p.select label,
        #account-creation_form p.select span,
        #account-creation_form p.textarea label,       
        
        #new_account_form p.radio span,
        #new_account_form p.text label,
        #new_account_form p.password label,
        #new_account_form p.select label,
        #new_account_form p.select span,
        #new_account_form p.textarea label,
        
        #add_address p.text label,
        #add_address p.password label,
        #add_address p.select label,
        #add_address p.select span,
        #add_address p.textarea label,
        
        #personal_info p.text label,
        #personal_info p.password label,
        #personal_info p.select label,
        #personal_info p.select span,
        #personal_info p.radio span,
        #personal_info p.textarea label,
        
        #module-blockwishlist-mywishlist #mywishlist p.text label,
        #module-blockwishlist-mywishlist .wl_send p label,
        
        #contact p.text label,
        #contact p.select label,
        #contact p.select span,
        #contact p.textarea label
        {
            display:block;
            clear:both;
            text-align: center;
            width:auto;
        }
                       
        #new_account_form p.radio{
            text-align:center;
        }
        
        .account_creation.dni span{
            margin:0;
        }
        
        /* Page 3 */
        .address_container{
            width: 100%
        }
        
        ul.address{
            float:none;
            margin:0 0 20px 0!important;
            min-width: 100%;
        }
        
        .address_add{
            padding-top:0!important;
        }
        
        /* Add Address */
        
        .addressesAreEquals{
            clear:both;
            padding-top:10px;
        }
        
        #opc_new_account #login_form{
            width:450px;
            float:none;
        }
        
        #opc_new_account #login_form #login_form_content{
            width:300px;
            margin:0 auto;
        }
        
        #opc_new_account #new_account_form{
            float:none;
            clear:both;
            margin-top:20px;
            width:450px;
        }
        
        /*----------------------------------------------------------------*/
        /*   Sign up / Login
        /*----------------------------------------------------------------*/
        #create-account_form, #authentication #login_form{
            margin:0 auto;
            width:300px;
            float:none;
        }
        
        #authentication #login_form{
            margin-top:20px;
        }
        
        #authentication #create-account_form fieldset{
            height:230px;
        }
        
        #auth_page_forms{
            width:auto;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   My Account
        /*----------------------------------------------------------------*/
        ul.myaccount_lnk_list li a{
            width:210px;
        }
        
        
        /* History */
        #block-history #order-detail-content tbody tr td.description{
            text-align:center!important;
        }

        #addresses .address_add{
            padding:20px 0!important;
        }
        
        #addresses ul.address.last_item{
            margin-bottom:0!important; 
        }

        
        /* Wishlist */
        ul.wlp_bought_list li{
            width:190px;
        }

        /*----------------------------------------------------------------*/
        /*   Footer
        /*----------------------------------------------------------------*/                
        #footer > div{
                width:50%!important;
                margin:30px 0 0 0!important;
        }
               
        #footer > div:nth-of-type(3){
            clear:left;
        }
        
        #footer-bottom{text-align:center;}
        
        /*Social Links*/
        .social-link-info{
            margin-right:10px;
        }
               
}




/*--------------------------------------------------------------------------------------------------------------*/
/*
/*
/*      Smaller than 480px
/*
/*
/*--------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 479px){
        
        body{
            min-width:300px;
        }
    
	.container{
		width:300px;
	}
			
	.column, .columns{
		float:none;
		clear:both;
		margin:0;
	}
        
	.full       ,
	.half       ,

	.one-third  ,
	.two-third  {width:300px}
        
        
        .half-nocolumn{width:300px;margin:0;float:none;}
        
        .one-third-nocolumn{width:300px;margin:0;float:none;}
        
        
        /*----------------------------------------------------------------*/
        /*   Header
        /*----------------------------------------------------------------*/
        #header-fluid, #header, #header-right{height:220px;}
        #header-right{width:100%;}
        
        #header_user_info .wishlist{display:none;}
        #header_user_info .logout{}
        
        #header-logo{
            position:absolute;
            width:100%;
        }
        
        #header-logo a{
            text-align:center;
        }
        
        /* Search */
        #search_block_top{
            margin-top:80px;
            float:left;
        }
        
        .ac_results{
            display:none!important;
        }
        
        
        /* Shopping Cart */
        #header_shopping_cart{
            margin-top:80px;
        }
        
        #header #cart_block{
            display: none!important;
        }
        
        
        /* Menu */
        .responsive-menu-container{
            top:160px;
            z-index: 35;
        } 
        
        /*----------------------------------------------------------------*/
        /*   Slider
        /*----------------------------------------------------------------*/
        #autumn-slider{
            
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Native Featured Products Module
        /*----------------------------------------------------------------*/
        
        #featured-products_block_center li{
            width:300px;
        }
        
        #featured-products_block_center .featured_product_image {
            width:284px;
            height:auto;
        }
        
        #featured-products_block_center .on_sale,
        #featured-products_block_center .discount{
            top:278px;
        }
        
        /* Rectangle Images */
        #featured-products_block_center.rect_img .on_sale,
        #featured-products_block_center.rect_img .discount{
            top:418px;
        }
        
        /*----------------------------------------------------------------*/
        /*   Product List - Toolbar
        /*----------------------------------------------------------------*/
        form.product_compare_form{
            clear:both;
        }
                
        .sortPagiBar .nbrItemPage{
            clear:both;
            float:left;
            margin-top:20px;
        }
        
        .sortPagiBar #productsSortForm{
            clear:both;
            float:left;
            margin-top:20px;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Category - Product List
        /*----------------------------------------------------------------*/       
        #category_view_type.grid_view #product_list li{ width:300px; }
        #category_view_type.grid_view #product_list li.last_item{ margin-bottom:10px!important;}
        
        #category_view_type.grid_view #product_list .product_image{ width:284px; }
        
        #category_view_type.grid_view #product_list .product_list_details .on_sale,
        #category_view_type.grid_view #product_list .product_list_details .discount{
            top:278px;
        }
        
        #category_view_type.grid_view .rect_img #product_list .product_list_details .on_sale,
        #category_view_type.grid_view .rect_img #product_list .product_list_details .discount{
            top:419px;
        }
        
        #category_view_type.list_view #product_list .product_image_wrapper{ margin-right:0; }
        #category_view_type.list_view #product_list .product_image { width:284px; }
        #category_view_type.grid_view #product_list .product_list_hover{ width:284px; height:284px;}
        #category_view_type.grid_view #product_list .product_list_add_to_cart { margin-top:90px; }
        #category_view_type.grid_view #product_list li .product_list_view_details_link {padding-top:260px;}
        
        #category_view_type.grid_view .rect_img #product_list .product_list_hover{ width:284px; height:426px;}
        #category_view_type.grid_view .rect_img #product_list .product_list_add_to_cart{margin-top:165px;}
        #category_view_type.grid_view .rect_img #product_list li .product_list_view_details_link {padding-top:402px;}
        
        #category_view_type.list_view #product_list li{ width:300px; }
        #category_view_type.list_view #product_list .product_list_details{ clear:both; }
        
        
        /*----------------------------------------------------------------*/
        /*   Manufacturers & Suppliers List
        /*----------------------------------------------------------------*/
        ul#manufacturers_list li, ul#suppliers_list li{width:286px;}
        
        
        /*----------------------------------------------------------------*/
        /*   Product Details
        /*----------------------------------------------------------------*/ 
        #pb-left-column #image-block #small_pic{
            width:284px;
            height:auto;
        }
        
        #pb-left-column #image-block{
            width:284px;
            margin:0 auto;
        }
              
        #pb-left-column #thumbs_list{
            width:216px;
        }
        
        #pb-left-column #view_scroll_left,
        #pb-left-column #view_scroll_right{
            width:42px;
        }
        
        /* Tabs */
        .accessories_block div ul li{
            width:240px;
        }
        
        /* Products Category */

        
        /*----------------------------------------------------------------*/
        /*   Product Comparison
        /*----------------------------------------------------------------*/
        #product_comparison td{
            font-size:10px;
            line-height:15px;
        }
        
        #product_comparison h5{
            font-size:12px;
            line-height:18px;
            height:60px;
        }
        
        #product_comparison .product_desc{
            height:130px;
        }
        
        #product_comparison .prices_container{
            margin:10px 0;
            height:60px;
        }
        
        #product_comparison .discount,
        #product_comparison .on_sale{
            clear:both;
            margin-left:0;
        }
        
        #product_comparison .comparison_product_infos .ajax_add_to_cart_button{
            text-indent:-9999em;
            padding-left:22px!important;
            width:33px;
            background-position:7px 50%;
            
        }
        
        
        /*----------------------------------------------------------------*/
        /*   Checkout Page
        /*----------------------------------------------------------------*/
        
        /* Order Steps */
        ul#order_step li{
            width:300px;
        }
        
        ul#order_step li#step_end{
            width:300px;
        }
        
        /* Page 3 - Addresses */
        #multishipping_mode_box .description a.autumn-button{
            width:100%;
            margin:auto;
            height:auto;
        }
        
        #account-creation_form p.text input,
        #account-creation_form p.textarea textarea,
        #account-creation_form p.password input,
        #account-creation_form p.select select,
        
        #new_account_form p.text input,
        #new_account_form p.textarea textarea,
        #new_account_form p.password input,
        #new_account_form p.select select,
        
        #add_address p.text input,
        #add_address p.textarea textarea,
        #add_address p.password input,
        #add_address p.select select,
                
        #personal_info p.text input,
        #personal_info p.textarea textarea,
        #personal_info p.password input,
        #personal_info p.select select,
        
        #module-blockwishlist-mywishlist #mywishlist p.text input,
        #module-blockwishlist-mywishlist .wl_send p input,
        
        #contact p.text input,
        #contact p.textarea textarea,
        #contact p.password input,
        #contact p.select select
        {
            width:270px;
        }
        
        p.birthday select{
            width:88px!important;
        }
                
        .addressesAreEquals{
            line-height: inherit;
        }
        
        .address_add a.autumn-button{
            display:block;
            width:100%;
            text-align:center;
        }
        
        /* Page 4 - Shipping */
        .order_carrier_content .delivery_options_title{
            display:none;
        }
        
        .order_carrier_content .delivery_option_logo{
            visibility: hidden;
            position: absolute;
            left:-9999em;
        }
        
        /* Page 5 - Payment Method */
        .payment_module img{
            display:block;
            float:none!important;
            padding-bottom:20px;
            margin:0 auto;
        }
        
        .payment_module a{
            text-align:center;
        }
        
        #opc_new_account #login_form{
            width:300px;
            float:none;
        }
                
        #opc_new_account #new_account_form{
            float:none;
            clear:both;
            margin-top:20px;
            width:300px;
        }
        
        
        /*----------------------------------------------------------------*/
        /*   My Account
        /*----------------------------------------------------------------*/
        ul.myaccount_lnk_list{
            margin:30px 0!important;
        }
        
        ul.myaccount_lnk_list li a{
            width:300px;
        }
        
        /* Favorite Products */
        
        #favoriteproducts_block_account .favoriteproduct a.product_img_link{
            clear:both;
        }
        
        #favoriteproducts_block_account .favoriteproduct h3{
            clear:both;
            margin-top:20px;
        }

        #favoriteproducts_block_account .favoriteproduct .remove{
            float:left;
            margin-top:20px;
        }

        #favoriteproducts_block_account .favoriteproduct .product_desc{
            clear:both;
        }
        
        /* Wishlist */
        ul.wlp_bought_list li{
            width:280px;
        }
        
        #wishlist_view li{
            width:300px;
        }

        
        /*----------------------------------------------------------------*/
        /*   Footer
        /*----------------------------------------------------------------*/
        #footer-fluid > .container{
            margin-top:20px;
        }
        
        /* Footer top */
        #footer-top .social-link{
            margin-left:0;
        }
        
        #footer-top .custom-social-link{
            margin-left:0;
        }
        
        .social-link-info{
            display:none;
        }
        
        #footer > div{
             width:100%!important;
             padding:0!important;
             margin:20px 0!important;
        }
        
        #footer .block h4,
        #footer .block h4 a,
        #footer h4,
        #footer h4 a{
            margin-bottom:10px;
            cursor:pointer;
            text-decoration:none;
        }
        
        /* Footer Blocks Fold - Unfold*/
        #footer .block .open-close-footer{
            display:block;
        }
        
        #footer .block_content{
            display:none;
            margin-top:20px;
        }
        
        #footer .block_content.unfold{
            display:block;
        }
                
        /* Bottom */
        #footer-center{
            padding-bottom:1px;
        }
                
        
}
